@font-face {
    font-family: "Explora";
    src: url("./Explora-Regular.ttf")
}

.clock {

    font-family: "Explora";
    font-size: 4rem;
    margin: 0;
}

#clock {
    
    color: white;
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;
}

#clock-line {

    color: white;
    border: white;
    background-color: whitesmoke;
    margin: 0;
}

#cpu-stat {
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;

    width: 150px;
    height: 40px;
    
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#cpu-line {
    margin-left: 0;
    margin-top: 18px;

    background-image: radial-gradient( circle 1158px at 6.4% 48.8%,  rgba(195,241,245,1) 0%, rgba(255,255,255,1) 90.2% );
    height: 5px;

    border-width: 0;

    box-shadow: 0px 0px 6px 2px rgba(114, 228, 241, 0.566);
}

#dock {
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;
}

.dock-img {
    /* foricing the contents to display in a single line */
    display: inline;
    /* removing background */
    background: transparent;

    margin: 25px;
    height: 40px;

    /* preventing the user from selecting the image */
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.dock-img:hover {
    cursor: pointer;
    opacity: 50%;
}

#document-menu{
    position: absolute;
    background-color: white;
}

#hours {
    /* forcing contents to display in a single line */
    display: inline;
    margin: 0;
}

.hidden {
    display: none;
}

.horizontal-line {
    height: 4px;
    border-color: black;
    border-radius: 500px;
    background: black;
}

#memory-stat {
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;

    width: 150px;
    height: 40px;
    
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu {
    position: absolute;
    background-color: white;
}

#minutes {
    /* forcing contents to display in a single line */
    display: inline;
    margin: 0;
}

#memory-line{
    margin-left: 0;
    margin-top: 18px;

    background-image: radial-gradient( circle 1158px at 6.4% 48.8%,  rgba(195,241,245,1) 0%, rgba(255,255,255,1) 90.2% );
    height: 5px;

    border-width: 0;

    box-shadow: 0px 0px 6px 2px rgba(114, 228, 241, 0.566);
}

.menu-list {

    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.menu-button {
    background-color: white;
    font-size: 16px;
    border: 0;
    padding: 5px;
}

.menu-button:hover{
    cursor: pointer;
    opacity: 75%;
}
