
#clock {
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;
}

#dock {
    position: absolute;

    /* doesn't allow user to select text */
    user-select: none;
}

.dock-img {
    /* foricing the contents to display in a single line */
    display: inline;
    /* removing background */
    background: transparent;

    margin: 25px;
    height: 40px;

    /* preventing the user from selecting the image */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dock-img:hover {
    cursor: pointer;
}

#hours {
    /* forcing contents to display in a single line */
    display: inline;
}

.hidden {
    display: none;
}

.horizontal-line {
    height: 4px;
    border-color: black;
    border-radius: 500px;
    background: black;
}

#minutes {
    /* forcing contents to display in a single line */
    display: inline;
}
