
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url("./pexels-lisa-fotios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

span li a {

    color: white;
    text-decoration: none;
    text-align: left;
    display: inline;
}

nav ul li a {

    color: white;
    text-decoration: none;
}

nav ul li {

    display: inline;
}

ol li {

    list-style-type: none;
    padding-bottom: 1%;
}

#about-div div p {

    padding-top: 1%;
    padding-bottom: 1%;
}

.background {

    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.content {

    padding-top: 10%;
    padding-left: 4%;
}

.download-btn {

    margin-top: 4%;
    margin-bottom: 3%;
}

#docs-div h1 {

    padding-bottom: 2%;
}

.inline {

    display: inline;
}

.navbar-div {

    padding-top: 1.5%;
    padding-bottom: 1.5%;

    background-color: rgba(0, 0, 0, 0.05);
}

.nav-list {

    display: inline;
}

.nav-title {

    display: inline;
    padding-left: 2%;
}

.nav-item {

    padding-right: 4%;
    float: right;
}